nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  color: var(--white-color);
  font-size: 23px;
  cursor: pointer;
  transition: 0.4s;
}

nav ul .sec-nav:hover {
  transform: translateY(-2px);
}

.activate-ul {
  display: flex;
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}
@media (max-width: 1000px) {
  nav ul li {
    font-size: 17px;
  }
}

@media (max-width: 850px) {
  
  nav ul {
    background: radial-gradient(circle,#3b5bdb,#2a47b1,#1a3488,#0a2262,#00113e);
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
    transition: 0.4s;
  }
}



@media (max-width: 850px) {
  nav ul li {
    font-size: 20px;
    margin: 15px 0;
  }
  nav ul {
    height: 100vh;
  }
}