:root {
  --blue-color: #3b5bdb;
  --white-color: #fff;
  --black-color: #282c35;
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black-color) !important;

}

/* Arabic font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

html[lang='ar'] * {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, var(--blue-color), var(--white-color), var(--blue-color), var(--white-color));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  letter-spacing: 1px;
}

p {
  color: #8e9eca;
  font-size: 20px;
}


/* Light Mode  */


/* Light mode Styling */
.light {
  background-color: var(--white-color) !important;
}

.light header {
  background-color: var(--white-color) !important;
}

.light header nav ul li {
  color: var(--blue-color);
}

.light .contact-btn::before {
  border-color: var(--black-color);
}

.light .contact-btn::after {
  border-color: var(--black-color);
}

.light .chose-lang {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.light .toggle-display-mode .ball {
  left: 4px;
}



.light .gradient-text {
  background-image: linear-gradient(to right, #213fb9, #001858, #3b5bdb, #001858, #001858);
}

.light p {
  color: var(--blue-color);
}

.light .icon-event:hover {
  color: var(--blue-color);
}

.light .top-repo {
  color: #001858;
}

.light .skill {
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  background-color: hsl(0deg 7% 89% / 14%);
}

.light .skill:hover {
  background-color: var(--white-color);
}

.light .skill span {
  color: var(--blue-color);
}

.light footer {
  border-top: 1px solid var(--blue-color);
}

.light .isBorder {
  border-color: var(--blue-color);
}

.light .menu-icon span {
  background-color: var(--blue-color);
}

.light .menu-icon span {
  background-color: var(--blue-color) !important;
}

@media (max-width: 850px) {
  .light nav ul {
    background: radial-gradient(circle, #8696d4, #7382b1, #626e8f, #525a6e, #44474e);
  }
}


html[lang="ar"] .light .toggle-display-mode .ball {
  right: 5px;
}

html[lang="ar"] .toggle-display-mode .ball {
  left: 4.5px;
}

.light footer a,
.light footer a:hover {
  color: var(--blue-color);
}

.light h2 {
  color: var(--black-color);
}

.light .resume-download {
  background-color: var(--black-color);
  color: var(--white-color);
}


/* Scroll bar */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  /* border-radius: 3px; */
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-color);
}


::-webkit-scrollbar-button {
    display: block;
    background-color: var(--blue-color);
    background-repeat: no-repeat;   
    background-size: 50%;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:start:increment {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');   
}

::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');   
}
